<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<title>About - CommunAbility</title>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="/js/bootstrap.min.js"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/javascript.js" type="text/javascript"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="css/style.css" rel= "stylesheet">
</head>

<body>
	<header style="position:fixed;top:43px;height:45px;">				
		<nav style="height:190px;" class="navbar">
		 <a href="index.html">
		<img src="image/ca_logo-dark.svg" alt="CommunAbility"></a> 
			<div  class="navbar-header navbar-right">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			  </button>
			 </div>
			<div class="collapse navbar-collapse navbar-right" id="myNavbar">
			  <ul class="nav navbar-nav">
				<li><a href="About.html" >About</a></li>
				<li><a href="Mentorship.html">Mentorship</a></li>
				<li><a href="Education.html">Education</a></li>
				<li><a href="Community.html">Community</a></li>
				<li><a class="not-highlight" href="#" style="max-width:120px;" data-toggle="modal" data-target="#myModal">Log In 
						<div class="profile"><img src="image/profile-icon.svg" alt="profile"></div>
					</a></li>
			  </ul>
			</div>
			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
			  <div class="modal-dialog modal-sm">

				<!-- Modal content-->
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Log In</h4>
				  </div>
				  <div class="modal-body">
					<input type="text" name="email" placeholder="    Email">
					<input type="text" name="password" placeholder="    Password">
					<a href="#">Forgot Password?</a>
					<div class="clr"></div>
					<br>
					<input class="login-modal-button" type="button" name="login" value="Log In">
					<br><br><br>
					Don't have an account? 
					<a class="sign-up" href="SignUp.html">SIGNUP</a>
					<div class="clr"></div>
					<br><br><br>
				  </div>
				</div>

			  </div>
			</div>
		</nav>  
		<div class="clr"></div>
	</header>
	
	<article style="position:relative;top:45px;"  class="about">
	<section>
		<img class="about-img" src="image/ca_logo-white.svg" alt="CommunAbility">
		<p>Developed by the PSDnet project, CommunAbility is a virtual space that harnesses the power of online and social media technology to enable students with disabilities, and others in post-secondary education, to connect in ways seldom experienced in the current environment.
		<br><br>The name CommunAbility combines terms that reflects our focus on community, communication, ability, and disability.</p>
		
		<img src="image/about.svg">
	</section>
	</article>
	<div class="clr"> </div>
	<article class="question">
		<section>
		<h1>Have a Question or Concern?</h1>
		<p>Feel free to get in touch with our team by using our contact form. You can also visit our FAQs page for more helpful information.</p>
			<a href="Faqs.html"><button class="fom">VISIT FAQS</button></a>
			<a href="ContactUs.html"><button class="fom">CONTACT</button></a>
		</section>
	</article>
	<article class="feedback">
		<section>
		<h1>Interested in Providing us with Feedback?</h1>
		<p>We value your feedback! You can let us know what you like about our website, and what we could do better, by using our contact form. You can also provide us with formal feedback by participating in research that evaluates the CommunAbility project. Find out more about by visiting our Research Information page.</p>
			<a href="ResearchInformation.html"><button class="fom">LEARN MORE</button></a>
		</section>
	</article>
	<div class="clr"></div>
	<article class="three-areas">
		<section>
			<h2 class="three-areas-heading">CommunAbility focuses on three main areas:</h2>
			<div class="three-areas-column three-areas-column-1">
				<img src="image/beacon.svg" alt="beacon">
				<h2>Mentorship</h2>
				<p class="three-areas-column-paragraph-2">CommunAbility provides post-secondary students with disabilities access to mentorship opportunities through our e-mentoring program and informal peer-to-peer support forums</p>
				<a href="Mentorship.html"><button class="fom">LEARN MORE</button></a>
			</div>
			<div class="three-areas-column three-areas-column-2">
				<img src="image/backpack.svg" alt="beacon">
				<h2>Education</h2>
				<p class="three-areas-column-paragraph-2">CommunAbility promotes positive and empowered identities for students with disabilities through our digital profile and narratives series, peer-to-peer forums, webinars, and podcasts.</p>
				<a href="Education.html"><button class="fom">LEARN MORE</button></a>
			</div>
			<div class="three-areas-column three-areas-column-3">
				<img src="image/chat_blue.svg" alt="beacon">
				<h2>Community</h2>
				<p class="three-areas-column-paragraph-2">CommunAbility promotes a positive and empowered disability identity through our digital profile and narratives series, peer-to-peer forums, webinars and podcasts</p>
				<a href="Community.html"><button class="fom">LEARN MORE</button></a>
			</div>
		</section>
	</article>
	<div class="clr"></div>
	<article class="project">
		<section>
		<h1>ABOUT THE PROJECT</h1>
		<p>CommunAbility is a 3-year applied research project initiated in 2015 and supported by the Social Science and Humanities Research Council of Canada.</p>
		<p>The CommunAbility project envisions diverse and vibrant communities in which all members have the opportunities for personal and social development needed to fully participate, socially and economically, in Canadian society.</p>
		<p>Our aim is to further the work underway in post-secondary education to remove barriers and create opportunities that promote the success of students with disabilities.</p>
			<button class="fom">LEARN MORE</button>
		</section>
	</article>
	<div class="clr"></div>	
	<article class="team">
		<section>
		<h1>ABOUT THE TEAM</h1>
		<div class="team-div">
		<h3>Project Partners</h3>
		<p>This project is designed and developed by a diverse group of researchers, web development experts, and community partners. The project, funded by the Social Sciences and Humanities Research Council, is led by George Brown College in partnership with Nipissing University, the University of Ontario Institute of Technology, York University, and the National Educational Association for Disabled Students (NEADS).</p>
		</div>
		<div class="team-div">
		<h3>The Research Team</h3>
		<p>Brought together by a passion for creating and supporting truly accessible post-secondary education, the CommunAbility team is made up of researchers, educators, and community partners with broad-ranging experience in this area. By creating a virtual space supporting communication, connection, learning, and mentorship for post-secondary students with disabilities our goal is to promote positive approaches to help you attain your educational goals while optimizing your opportunities for support and community building.</p>
		<p>Research Team include:</p>
		
		<div class="team-ul">
		<ul>
			<li>Charles Anyinam, RN, PhD(c), Professor, George Brown College</li>
			<li>Sue Coffey, RN, PhD, Associate Professor, University of Ontario </li>
			<li>Institue of Technology (UOIT) Rick Vanderlee, RN, PhD, Dean, Faculty of Applied and Professional Studies, </li>
			<li>Nipissing University Hilde Zitzelsberger RN, PhD, Assistant Professor, UOIT</li>
			<li>Celina Da Silva, RN, PhD, Associate Professor, York University</li>
			<li>Frank Smith, National Coordinator, National Educational Association of Disabled Students (NEADS)</li>
			<li>Francine Odette, Professor, George Brown College</li>
			<li>Chelsea Mohler, Research Consultant, NEADS</li>
			<li>Jason Thompson, Web Developer and Technical Support Analyst, NEADS</li>
		</ul>
		</div>
		</div>
		<div class="team-div">
		<h3>Website Development Team</h3>
		<p>George Brown College is home to one of the premier educational and innovative centres for gaming and web development in Canada. The website development team for the CommunAbility project is made up of experts in the areas of accessible website development, social media and gaming.</p>
		</div>
		<div class="clr"></div>
		
		</section>
	</article>

	<div class="clr"></div>
	<footer>
		<article>
			<section class="footer-list">
				<ul class="list1">
				<li></li>
				<li><strong>ABOUT US</strong></li>
				<li><a href="About.html">About CommunAbility</a></li>
				<li><a href="ContactUs.html">Contact Us</a></li>
				<li><a href="Faqs.html">FAQs</a></li>
				<li><a href="ResearchInformation.html">Research Information</a></li>
				<li><a href="TermsAndConditions.html">Terms and Conditions</a></li>
				<li><a href="PrivacyPolicy.html">Privacy Policy</a></li>
				</ul>
			</section>
			<section class="footer-list">
				<ul class="list2">
				<li>  </li>
				<li><strong>MENTORSHIP</strong></li>
				<li><a href="Mentorship.html">About the Program</a></li>
				<li><a href="BecomeMentor.html">Become a Mentor</a></li>
				<li><a href="GetMentor.html">Find a Mentor</a></li>
				<li><a href="UserAgreement.html">Program User Agreement</a></li>
				</ul>
			</section>
			<section class="footer-list">
				<ul class="list3">
				<li></li>
				<li><strong>EDUCATION</strong></li>
				<li><a href="Index.html">Podcasts and Webinars</a></li>
				<li><a href="LearningModules.html">Learning Modules</a></li>
				<li><a href="ResourceLibrary.html">Resource Library</a></li>
				</ul>
			</section>
			<section class="footer-list">
				<ul class="list4">
				<li></li>
				<li><strong>COMMUNITY</strong></li>
				<li><a href="Forums.html">Forums</a></li>
				<li><a href="DigitalNaratives.html">Digital Naratives</a></li>
				<li><a href="InspirationalProfiles.html">Inspirational Profiles</a></li>
				</ul>
			</section>
		</article>
		<div class="clr"></div>
		<section class="footer-bottom">
		<i class="fa fa-facebook"></i>
		<i class="fa fa-youtube"></i>
		<i class="fa fa-instagram"></i>
		</section>
	</footer>
	<div class="clr"></div>
	<div class= "circle"><a href="#">i</a></div>
</body>
</html>