<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<title>FAQ's - CommunAbility</title>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="/js/bootstrap.min.js"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/javascript.js" type="text/javascript"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="css/style.css" rel= "stylesheet">

</head>

<body>
	<header style="position:fixed;top:43px;height:45px;">				
		<nav style="height:190px;" class="navbar">
		 <a href="index.html">
		<img src="image/ca_logo-dark.svg" alt="CommunAbility"></a> 
			<div  class="navbar-header navbar-right">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			  </button>
			 </div>
			<div class="collapse navbar-collapse navbar-right" id="myNavbar">
			  <ul class="nav navbar-nav">
				<li><a href="About.html" >About</a></li>
				<li><a href="Mentorship.html">Mentorship</a></li>
				<li><a href="Education.html">Education</a></li>
				<li><a href="Community.html">Community</a></li>
				<li><a class="not-highlight" href="#" style="max-width:120px;" data-toggle="modal" data-target="#myModal">Log In 
						<div class="profile"><img src="image/profile-icon.svg" alt="profile"></div>
					</a></li>
			  </ul>
			</div>
			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
			  <div class="modal-dialog modal-sm">

				<!-- Modal content-->
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Log In</h4>
				  </div>
				  <div class="modal-body">
					<input type="text" name="email" placeholder="    Email">
					<input type="text" name="password" placeholder="    Password">
					<a href="#">Forgot Password?</a>
					<div class="clr"></div>
					<br>
					<input class="login-modal-button" type="button" name="login" value="Log In">
					<br><br><br>
					Don't have an account? 
					<a class="sign-up" href="SignUp.html">SIGNUP</a>
					<div class="clr"></div>
					<br><br><br>
				  </div>
				</div>

			  </div>
			</div>
		</nav>  
		<div class="clr"></div>
	</header>
	
	<article style="position:relative;top:45px;"  class="ribbon-faqs">
	<section>
		<h1>COMMUNABILITY FAQS</h1>
		</section>
	</article>
	<div class="clr"> </div>
		<article class="three-areas  three-areas-faqs">
		<section>
			<h2 class="three-areas-heading">FAQs are Organized According to the Following Sections</h2>
			<div class="three-areas-column three-areas-column-1">
				<img src="image/flag2.svg" alt="beacon">
				<h2>CommunAbility</h2>
				<p>CommunAbility FAQs section description</p>
				<button>SEE FAQS</button>
			</div>
			<div class="three-areas-column three-areas-column-2">
				<img src="image/beacon.svg" alt="beacon">
				<h2>Mentoring and Mentorship Program</h2>
				<p>Mentorship FAQs section description</p>
				<button>SEE FAQS</button>
			</div>
			<div class="three-areas-column three-areas-column-3">
				<img src="image/settings.svg" alt="beacon">
				<h2>Managing My Account</h2>
				<p>Account FAQs section description</p>
				<button>SEE FAQS</button>
			</div>
		</section>
	</article>
	<div class="clr"></div>
	
	<article class="faqs">
		<section>
		<h2>COMMUNABILITY</h2>
		<div class="panel-group" id="accordion">
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><img src="image/chevron-right.png" style="height:25px; width:25px;">What is the PSDNet project?</a>
				</h4>
			  </div>
			  <div id="collapse1" class="panel-collapse collapse">
				<div class="panel-body"> PSDNet stands for Post-Secondary Students with Disability Network. The PSDNet project is an applied research project funded by the Social Science and Humanities Research Council (SSHRC) of Canada. The primary aim of the PSDNet project is to further the work underway in post-secondary education to remove barriers and create opportunities that promote the success of students with disabilities. Click here to learn more about the PSDNet Project.</div>
			  </div>
			</div>
			
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><img src="image/chevron-right.png" style="height:25px; width:25px;">What is CommunAbility?</a>
				</h4>
			  </div>
			  <div id="collapse2" class="panel-collapse collapse">
				<div class="panel-body">CommunAbility is the name of our website! The name CommunAbility combines terms that reflect the PSDNet project’s objectives and focus – community, commune, communication, ability, and disability. Click here to learn more about the PSDNet Project.</div>
			  </div>
			</div>
			
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><img src="image/chevron-right.png" style="height:25px; width:25px;">Who operates CommunAbility website?</a>
				</h4>
			  </div>
			  <div id="collapse3" class="panel-collapse collapse">
				<div class="panel-body">CommunAbility is created and operated by a team of researchers from George Brown College, University of Ontario Institute of Technology, Nipissing University, York University, and the National Educational Association of Disabled Students (NEADS). The website is part of a project funded through a grant from the Social Science and Humanities Research Council. Our research team is diverse, consisting of members who have the lived experience of disability and those who work in allyship with students and graduates with disabilities. Click here to learn more about the PSDNet Project.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><img src="image/chevron-right.png" style="height:25px; width:25px;">Is there research component to the PSDNet project? What is the research about?</a>
				</h4>
			  </div>
			  <div id="collapse4" class="panel-collapse collapse">
				<div class="panel-body">Yes, there is a research component to the PSDNet project. We offer users of the website and mentorship program an opportunity to participate in research that will help us better understand the use of social media and our website by students with disabilities. The research also will examine the experiences of the participants in our e-mentorship program. Click her to learn more about research.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><img src="image/chevron-right.png" style="height:25px; width:25px;">Does PSDNet project have ethics approval to conduct this research?</a>
				</h4>
			  </div>
			  <div id="collapse5" class="panel-collapse collapse">
				<div class="panel-body">Yes. The research been reviewed by the ethics boards of the post-secondary institutions affiliated with research team members - George Brown College, University of Ontario Institute of Technology, Nipissing University, and York University. The research also has the support of the Board of Directors of the National Educational Association of Disabled Students (NEADS).</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><img src="image/chevron-right.png" style="height:25px; width:25px;">Do I have to participate in research to use the website or the e-mentorship program to get the support?</a>
				</h4>
			  </div>
			  <div id="collapse6" class="panel-collapse collapse">
				<div class="panel-body">Participating in any research is 100% voluntary. You can use the website and any services it offers without having to participant in research.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"><img src="image/chevron-right.png" style="height:25px; width:25px;">How do I contact someone at CommunAbility?</a>
				</h4>
			  </div>
			  <div id="collapse7" class="panel-collapse collapse">
				<div class="panel-body">You can send us a message on our contact page. On this page, you willd information on how to contact the PSDNet project team. You can also provide feedback by participating in the research that evaluates your experience using the website, such as its features and services. Go to our Give Us Feedback page for more details about the study and how you can participate.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion" href="#collapse8"><img src="image/chevron-right.png" style="height:25px; width:25px;">Who can I contact if I have technical problem with my account?</a>
				</h4>
			  </div>
			  <div id="collapse8" class="panel-collapse collapse">
				<div class="panel-body">For technical problems not addressed by the FAQs, you can get help by submitting a request using our contact form. Click here to access the contact form.</div>
			  </div>
			</div>
			
		 </div> 
		</section>
		
		
		<section>
		<h2 style="background:#00C7B1;">MENTORING AND MENTORSHIP PROGRAM</h2>
		<div class="panel-group" id="accordion2">
			
			
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse9"><img src="image/chevron-right.png" style="height:25px; width:25px;">How does the mentorship program work?</a>
				</h4>
			  </div>
			  <div id="collapse9" class="panel-collapse collapse">
				<div class="panel-body">Our mentorship program is a 16-week program that connects mentees and mentors. Mentees will set mutual goals and work towards them with the support of a mentor. Click here to learn more about our mentorship program.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse10"><img src="image/chevron-right.png" style="height:25px; width:25px;">What are the benefits of being a mentor in CommunAbility mentorship program?</a>
				</h4>
			  </div>
			  <div id="collapse10" class="panel-collapse collapse">
				<div class="panel-body">As a mentor, you will:
					<ul>
					<li>
					Feel good about supporting the success of a student with disabilities
					</li>
					<li>
					Give back to your community
					</li>
					<li>
					Develop and build upon skills transferable to many professional and personal situations
					</li>
					</ul>
					Our mentoring learning module provides more information about the benefits of being a mentor and mentoring relationships. Click here to access the mentoring learning module.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse11"><img src="image/chevron-right.png" style="height:25px; width:25px;">What is the role of a mentor in the CommunAbility mentorship program?</a>
				</h4>
			  </div>
			  <div id="collapse11" class="panel-collapse collapse">
				<div class="panel-body">A mentor in the CommunAbility Mentorship Program supports a post-secondary student with a disability by:
					<ul>
					Being a positive role model
					</li>
					<li>
					Sharing your life, academic life, and professional experiences
					</li>
					<li>
					Listening with an opend
					</li>
					<li>
					Exploring career paths and helping to clarify the mentee's goals
					</li>
					<li>
					Communicating regularly
					</li>
					</ul>
					</div>
				</div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse12"><img src="image/chevron-right.png" style="height:25px; width:25px;">What’s the benefit of being a mentee in the CommunAbility mentorship program?</a>
				</h4>
			  </div>
			  <div id="collapse12" class="panel-collapse collapse">
				<div class="panel-body">In the CommunAbility mentorship program, we match post-secondary students with disabilities with graduates with disabilities with whom they share commonalities. Being a mentee in this program offers the opportunity for personal growth and development and to gain support from a mentor with a wealth of knowledge and experience.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse13"><img src="image/chevron-right.png" style="height:25px; width:25px;">How does you match mentors and mentees?</a>
				</h4>
			  </div>
			  <div id="collapse13" class="panel-collapse collapse">
				<div class="panel-body">We match mentors and mentees using a matching algorithm specifically designed for the program. We use the preferences that mentors and mentees voluntarily provided to create a custom matching score for each possible match. Mentees then receive a list of the top matches that are ready to mentor them. Once a mentee makes a selection, the match is complete.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse14"><img src="image/chevron-right.png" style="height:25px; width:25px;">How much does it cost to join the CommunAbility e-mentorship program?</a>
				</h4>
			  </div>
			  <div id="collapse14" class="panel-collapse collapse">
				<div class="panel-body">Nothing! The program is <strong>FREE</strong> to all college and university students who self-identify with a disability.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse15"><img src="image/chevron-right.png" style="height:25px; width:25px;">Is the CommunAbility e-mentorship program restricted to certain people?
</a>
				</h4>
			  </div>
			  <div id="collapse15" class="panel-collapse collapse">
				<div class="panel-body">The CommunAbility e-mentorship program provides mentorship opportunities for students with disabilities enrolled in post-secondary education Ontario.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse16"><img src="image/chevron-right.png" style="height:25px; width:25px;">Is there aimum age to participate in the CommunAbility e-mentorship program?
</a>
				</h4>
			  </div>
			  <div id="collapse16" class="panel-collapse collapse">
				<div class="panel-body">Yes. Both mentors and mentees must be 18 years or older to participate in the mentorship program.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse17"><img src="image/chevron-right.png" style="height:25px; width:25px;">If I attend school in another province or territory can I join the CommunAbility e-mentorship program?</a>
				</h4>
			  </div>
			  <div id="collapse17" class="panel-collapse collapse">
				<div class="panel-body">Currently we are serving students with disabilities enrolled in post-secondary education in Ontario.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse18"><img src="image/chevron-right.png" style="height:25px; width:25px;">Why do you collect so much personal information?</a>
				</h4>
			  </div>
			  <div id="collapse18" class="panel-collapse collapse">
				<div class="panel-body">We collect information so that we can generate the best match possible using our matching algorithm. We also collect certain information such as demographics so that we can describe the general characteristics of our participants to the public, funding agencies, and members of the post-secondary education community. We may also use the information we collect to make improvements to the website and services we offer. For more information about the information we collect and how it is used, click here to access our Privacy Policy.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse19"><img src="image/chevron-right.png" style="height:25px; width:25px;">Is any information private?
</a>
				</h4>
			  </div>
			  <div id="collapse19" class="panel-collapse collapse">
				<div class="panel-body">Yes. For more information, click here to access our Privacy Policy.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse20"><img src="image/chevron-right.png" style="height:25px; width:25px;">Is my mentorship private?</a>
				</h4>
			  </div>
			  <div id="collapse20" class="panel-collapse collapse">
				<div class="panel-body">Yes. For more information, click here to access our Privacy Policy.</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse21"><img src="image/chevron-right.png" style="height:25px; width:25px;">Does CommunAbility pay mentors?</a>
				</h4>
			  </div>
			  <div id="collapse21" class="panel-collapse collapse">
				<div class="panel-body">No. Our mentors are volunteers. They are graduates of post-secondary education programs with disabilities. Their time is given freely to support students with disabilities to achieve their goals.</div>
			  </div>
			</div>
			
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse22"><img src="image/chevron-right.png" style="height:25px; width:25px;">Is training mandatory and how long does it take?</a>
				</h4>
			  </div>
			  <div id="collapse22" class="panel-collapse collapse">
				<div class="panel-body">Yes. We require both mentors and mentee to complete online training before they begin their mentorship relationship. Online training</div>
			  </div>
			</div>
			
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse23"><img src="image/chevron-right.png" style="height:25px; width:25px;">How much time is required to participate in the CommunAbility mentorship program?</a>
				</h4>
			  </div>
			  <div id="collapse23" class="panel-collapse collapse">
				<div class="panel-body">Before mentors and mentees are matched, they spend about 1 to 1.5 hours completing online training modules. Once matched, we encourage participants to spend about 30utes every two weeks over a 16-week period (8 sessions in total) connecting through the program’s online chat app.<br>Some mentee and mentor matches may need to spend a little more time in the early phases of the program so that they can establish their relationships. Additionally, mentee- mentor matches may decide together to meet online more often than the recommended biweekly schedule.</div>
			  </div>
			</div>
			
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse24"><img src="image/chevron-right.png" style="height:25px; width:25px;">How will I communicate with my mentor/mentee?</a>
				</h4>
			  </div>
			  <div id="collapse24" class="panel-collapse collapse">
				<div class="panel-body">Mentor-mentee matches communicate online using our built-in chat application. It takes 3 easy steps:
				<ol><li>

				Sign into your account and schedule a date and time to chat using the calendar application
				</li><li>
				On the date and time of your meeting, sign-in to your account and click on the Chat icon
				</li><li>
				Enter your password when prompted and chat away!
				</li>
				</ol>
				</div>
			  </div>
			</div>
			
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse25"><img src="image/chevron-right.png" style="height:25px; width:25px;">Do I have to participate in the research to use the CommunAbility mentorship program?</a>
				</h4>
			  </div>
			  <div id="collapse25" class="panel-collapse collapse">
				<div class="panel-body">No. Participating in research is 100% voluntary. Once you are approved for the program, you will receive an invitation to participate in the evaluation of the program. If you decide not to participant in the research, just ignore the invitation and continue on in the program.
				</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse26"><img src="image/chevron-right.png" style="height:25px; width:25px;">Why do I need to verify my application for the CommunAbility mentorship program through email?
</a>
				</h4>
			  </div>
			  <div id="collapse26" class="panel-collapse collapse">
				<div class="panel-body">We use an account verification step in keeping with best practices for web applications that store personal data. Your privacy and security are very important to us, and this step helps us to ensure that your account will be under your control.
				</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse27"><img src="image/chevron-right.png" style="height:25px; width:25px;">What of support will mentors receive during the mentorship program?</a>
				</h4>
			  </div>
			  <div id="collapse27" class="panel-collapse collapse">
				<div class="panel-body">Prior to the start of the mentorship relationships, online training is provided to learn about mentoring relationships, the CommunAbility mentorship program, and roles and responsibilities of a mentee. The online training program also reviews the policies and procedures of the program. Additionally, mentors have access to the program handbook and other resources on their profile page. <br>At any time, mentors can also obtain direct assistance by contacting a project team member through email or telephone with questions and to get help problem-solving.
				</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse28"><img src="image/chevron-right.png" style="height:25px; width:25px;">Whatof support will mentees receive during the mentorship program?</a>
				</h4>
			  </div>
			  <div id="collapse28" class="panel-collapse collapse">
				<div class="panel-body">Prior to the start of the mentorship relationships, online training is provided to learn about mentoring relationships, the CommunAbility mentorship program, and roles and responsibilities of a mentee. The online training program also reviews the policies and procedures of the program. Additionally, mentees have access to the program handbook and other resources on their profile page. <br>At any time, mentees can also obtain direct assistance by contacting a project team member through email or telephone with questions and to get help problem-solving.
				</div>
			  </div>
			</div>
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse29"><img src="image/chevron-right.png" style="height:25px; width:25px;">What do I do if I no longer want to be a part of the mentorship program?</a>
				</h4>
			  </div>
			  <div id="collapse29" class="panel-collapse collapse">
				<div class="panel-body">You can stop using the service at any time. We ask that you contact us and let us know before ending your relationship with your mentor or mentee. Click here to find out more about the expectations of participating in the mentorship program.
				</div>
			  </div>
			</div>
			
			
		 </div> 
		</section>
		
		
		<section>
		<h2 style="background:#FFB81C;color:#00263A;">MANAGING MY ACCOUNT</h2>
		<div class="panel-group" id="accordion3">
			
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion3" href="#collapse31"><img src="image/chevron-right.png" style="height:25px; width:25px;">How is my information protected?
</a>
				</h4>
			  </div>
			  <div id="collapse31" class="panel-collapse collapse">
				<div class="panel-body">We take your privacy very serious and we’ve built in a number of features to make sure your information is secure and private. Check out the program's Privacy Policy to learn more.
				</div>
			  </div>
			</div>
			
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion3" href="#collapse32"><img src="image/chevron-right.png" style="height:25px; width:25px;">How do I delete my account?</a>
				</h4>
			  </div>
			  <div id="collapse32" class="panel-collapse collapse">
				<div class="panel-body">Deleting your account with CommunAbility means you will no longer have access to the member areas and any personalized content relating to the features and services of thesite. Content including mentorship program profiles, timelines and chats will all be deleted from our server. We cannot restore your account once deleted.

					To delete your account:
					<ol><li>
					Login to your account and click on thek to access your settings
					</li><li>
					From the list of setting options, select Delete my Account and then follow the instructions.
					</li><li>
					Once confirmed all associated data with your account will be deleted in x days.
					If you change yourd during that time, simply login using your username and password information to reactivate your account again.
					</li></ol>
					For more information about how your information is handle please review our Privacy Policy
				</div>
			  </div>
			</div>
			
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion3" href="#collapse33"><img src="image/chevron-right.png" style="height:25px; width:25px;">Why do I need to verify my CommunAbility account?</a>
				</h4>
			  </div>
			  <div id="collapse33" class="panel-collapse collapse">
				<div class="panel-body">We use an account verification step in keeping with best practices for web applications that store personal data. Your privacy and security are very important to us, and this step helps us to ensure that your account is and stays under your control.
				</div>
			  </div>
			</div>
			
			
			<div class="panel">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion3" href="#collapse34"><img src="image/chevron-right.png" style="height:25px; width:25px;">I can’t an answer to my question?</a>
				</h4>
			  </div>
			  <div id="collapse34" class="panel-collapse collapse">
				<div class="panel-body">Write to us and ask us. You can also check out our Community forum section. Your question may have already been answered in a thread. Note: you must be a registered member to be able to access the CommunAbility Forums.
				</div>
			  </div>
			</div>
			
						
		 </div> 
		</section>
	</article>

	<div class="clr"></div>
	<footer>
		<article>
			<section class="footer-list">
				<ul class="list1">
				<li></li>
				<li><strong>ABOUT US</strong></li>
				<li><a href="About.html">About CommunAbility</a></li>
				<li><a href="ContactUs.html">Contact Us</a></li>
				<li><a href="Faqs.html">FAQs</a></li>
				<li><a href="ResearchInformation.html">Research Information</a></li>
				<li><a href="TermsAndConditions.html">Terms and Conditions</a></li>
				<li><a href="PrivacyPolicy.html">Privacy Policy</a></li>
				</ul>
			</section>
			<section class="footer-list">
				<ul class="list2">
				<li>  </li>
				<li><strong>MENTORSHIP</strong></li>
				<li><a href="Mentorship.html">About the Program</a></li>
				<li><a href="BecomeMentor.html">Become a Mentor</a></li>
				<li><a href="GetMentor.html">Find a Mentor</a></li>
				<li><a href="UserAgreement.html">Program User Agreement</a></li>
				</ul>
			</section>
			<section class="footer-list">
				<ul class="list3">
				<li></li>
				<li><strong>EDUCATION</strong></li>
				<li><a href="Index.html">Podcasts and Webinars</a></li>
				<li><a href="LearningModules.html">Learning Modules</a></li>
				<li><a href="ResourceLibrary.html">Resource Library</a></li>
				</ul>
			</section>
			<section class="footer-list">
				<ul class="list4">
				<li></li>
				<li><strong>COMMUNITY</strong></li>
				<li><a href="Forums.html">Forums</a></li>
				<li><a href="DigitalNaratives.html">Digital Naratives</a></li>
				<li><a href="InspirationalProfiles.html">Inspirational Profiles</a></li>
				</ul>
			</section>
		</article>
		<div class="clr"></div>
		<section class="footer-bottom">
		<i class="fa fa-facebook"></i>
		<i class="fa fa-youtube"></i>
		<i class="fa fa-instagram"></i>
		</section>
	</footer>
	<div class="clr"></div>
	<div class= "circle"><a href="#">i</a></div>
</body>
</html>