<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<title>Home - CommunAbility</title>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="/js/bootstrap.min.js"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/javascript.js" type="text/javascript"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="css/style.css" rel= "stylesheet">
</head>

<body>
	<header>				
		<nav style="height:190px;" class="navbar">
		 <a href="index.html">
		<img src="image/ca_logo-dark.svg" alt="CommunAbility"></a> 
			<div  class="navbar-header navbar-right">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			  </button>
			 </div>
			<div class="collapse navbar-collapse navbar-right" id="myNavbar">
			  <ul class="nav navbar-nav">
				<li><a href="About.html" >About</a></li>
				<li><a href="Mentorship.html">Mentorship</a></li>
				<li><a href="Education.html">Education</a></li>
				<li><a href="Community.html">Community</a></li>
				<li><a class="not-highlight" href="#" style="max-width:120px;" data-toggle="modal" data-target="#myModal">Log In 
						<div class="profile"><img src="image/profile-icon.svg" alt="profile"></div>
					</a></li>
			  </ul>
			</div>
			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
			  <div class="modal-dialog modal-sm">

				<!-- Modal content-->
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Log In</h4>
				  </div>
				  <div class="modal-body">
					<input type="text" name="email" placeholder="    Email">
					<input type="text" name="password" placeholder="    Password">
					<a href="#">Forgot Password?</a>
					<div class="clr"></div>
					<br>
					<input class="login-modal-button" type="button" name="login" value="Log In">
					<br><br><br>
					Don't have an account? 
					<a class="sign-up" href="SignUp.html">SIGNUP</a>
					<div class="clr"></div>
					<br><br><br>
				  </div>
				</div>

			  </div>
			</div>
		</nav>  
		<div class="clr"></div>
	</header>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
		<div class="item active">
		  <img src="image/computer_tablet.jpeg" alt="Los Angeles"/>
			<div class="carousel-text computer">
				<div>
				<h3 class="impact">JOIN AND EMPOWER YOURSELF</h3>
				<p>Get the information you need to carousel-text yourself! CommunAbility offers educational materials and a growing library of resources.</p>
				</div>
				<a href="Mentorship.html"><button class="fom">FOUND OUT MORE</button></a>
			</div>
		</div>

		<div class="item">
		  <img src="image/three_girls.jpg" alt="New York"/>
			<div class="carousel-text girls">
				<div>
					<h3 class="impact">GET THE MENTORSHIP YOU NEED</h3>
					<p>Join the Communability mentorship program and get the support you need to reach your goals. It’s FREE, so sign-up today!</p>
				</div>
				<a href="Mentorship.html"><button class="fom">FOUND OUT MORE</button></a>
			</div>
		</div>		

		<div class="item">
			<img src="image/men_park.jpg" alt="New York">
			<div class="carousel-text park">
				<div>
					<h3 class="impact">START A CONVERSATION - GROW YOUR NETWORK</h3>
					<p>Join our FREE CommunAbility community and get access to forums where you can connect with other college and university students with disabilities.</p>
				</div>
				<a href="Mentorship.html"><button class="fom">FOUND OUT MORE</button></a>
			</div>
		</div>
		
		<div class="item">
		  <img src="image/meeting.jpg" alt="Chicago">
			<div class="carousel-text meeting">
			<div>
			<h3 class="impact">GIVE BACK - BECOME A MENTOR</h3>
			<p>Become a mentor and give back by sharing your accumulated knowledge and life experience with a college or university student with a disability.</p>
			</div>
				<a href="Mentorship.html"><button class="fom">FOUND OUT MORE</button></a>
			</div>
		</div>


	</div>
	
	</div>
	<article class="about">
	<section>
		<h1>ABOUT</h1>
		<p>CommunAbility is an online community for post-secondary education students with disabilities. We offer connection opportunities that foster community building and social support, mentoring experiences that carousel-text students with disabilities, and resources to educate students on a range of topics.</p>
		<a href="About.html"><button class="fom">FOUND OUT MORE</button></a>
		<img src="image/about.svg">
	</section>
	</article>
	<article class="mentorship">
		<section>
		<h1>MENTORSHIP</h1>
		<p>Need help navigating the post-secondary education experience? Our e-mentorship program matches you with graduates with disabilities to get support and advice. Create a profile to get started!</p>
		<a href="Mentorship.html"><button class="fom">FOUND OUT MORE</button></a>
		<img src="image/mentorship.svg"></section>
	</article>
	<article class="education">
		<section>
		<h1>EDUCATION</h1>
		<p>Need information? CommunAbility offers educational information and resources on topics and issues relevant to post-secondary education and students with disabilities. Check out our learning modules, podcasts, and resource library.</p>
		<a href="Education.html"><button class="fom">FOUND OUT MORE</button></a>
		<img src="image/education.svg"></section>
	</article>
	<article class="community">
		<section>
		<h1>COMMUNITY</h1>
		<p>Looking to connect with others with disabilities? Our community forums bring post-secondary education students with disabilities together to discuss common experiences, discover resources and solutions, and share ideas, support and advice.</p>
		<a href="Community.html"><button class="fom">FOUND OUT MORE</button></a>
		<img src="image/community.svg"></section>
	</article>
	<div class="clr"></div>
	<footer>
		<article>
			<section class="footer-list">
				<ul class="list1">
				<li></li>
				<li><strong>ABOUT US</strong></li>
				<li><a href="About.html">About CommunAbility</a></li>
				<li><a href="ContactUs.html">Contact Us</a></li>
				<li><a href="Faqs.html">FAQs</a></li>
				<li><a href="ResearchInformation.html">Research Information</a></li>
				<li><a href="TermsAndConditions.html">Terms and Conditions</a></li>
				<li><a href="PrivacyPolicy.html">Privacy Policy</a></li>
				</ul>
			</section>
			<section class="footer-list">
				<ul class="list2">
				<li>  </li>
				<li><strong>MENTORSHIP</strong></li>
				<li><a href="Mentorship.html">About the Program</a></li>
				<li><a href="BecomeMentor.html">Become a Mentor</a></li>
				<li><a href="GetMentor.html">Find a Mentor</a></li>
				<li><a href="UserAgreement.html">Program User Agreement</a></li>
				</ul>
			</section>
			<section class="footer-list">
				<ul class="list3">
				<li></li>
				<li><strong>EDUCATION</strong></li>
				<li><a href="Index.html">Podcasts and Webinars</a></li>
				<li><a href="LearningModules.html">Learning Modules</a></li>
				<li><a href="ResourceLibrary.html">Resource Library</a></li>
				</ul>
			</section>
			<section class="footer-list">
				<ul class="list4">
				<li></li>
				<li><strong>COMMUNITY</strong></li>
				<li><a href="Forums.html">Forums</a></li>
				<li><a href="DigitalNaratives.html">Digital Naratives</a></li>
				<li><a href="InspirationalProfiles.html">Inspirational Profiles</a></li>
				</ul>
			</section>
		</article>
		<div class="clr"></div>
		<section class="footer-bottom">
		<i class="fa fa-facebook"></i>
		<i class="fa fa-youtube"></i>
		<i class="fa fa-instagram"></i>
		</section>
	</footer>
	<div class="clr"></div>
	<div class= "circle"><a href="#">i</a></div>
</body>
</html>