<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<title>Privacy Policy - CommunAbility</title>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="/js/bootstrap.min.js"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/javascript.js" type="text/javascript"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="css/style.css" rel= "stylesheet">
<style type="text/css">
	.community{
	color:white;
	}
</style>
</head>

<body>
	<header style="position:fixed;top:43px;height:45px;">				
		<nav style="height:190px;" class="navbar">
		 <a href="index.html">
		<img src="image/ca_logo-dark.svg" alt="CommunAbility"></a> 
			<div  class="navbar-header navbar-right">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			  </button>
			 </div>
			<div class="collapse navbar-collapse navbar-right" id="myNavbar">
			  <ul class="nav navbar-nav">
				<li><a href="About.html" >About</a></li>
				<li><a href="Mentorship.html">Mentorship</a></li>
				<li><a href="Education.html">Education</a></li>
				<li><a href="Community.html">Community</a></li>
				<li><a class="not-highlight" href="#" style="max-width:120px;" data-toggle="modal" data-target="#myModal">Log In 
						<div class="profile"><img src="image/profile-icon.svg" alt="profile"></div>
					</a></li>
			  </ul>
			</div>
			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
			  <div class="modal-dialog modal-sm">

				<!-- Modal content-->
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Log In</h4>
				  </div>
				  <div class="modal-body">
					<input type="text" name="email" placeholder="    Email">
					<input type="text" name="password" placeholder="    Password">
					<a href="#">Forgot Password?</a>
					<div class="clr"></div>
					<br>
					<input class="login-modal-button" type="button" name="login" value="Log In">
					<br><br><br>
					Don't have an account? 
					<a class="sign-up" href="SignUp.html">SIGNUP</a>
					<div class="clr"></div>
					<br><br><br>
				  </div>
				</div>

			  </div>
			</div>
		</nav>  
		<div class="clr"></div>
	</header>
	
	<div class="clr"> </div>
	
	<article style="position:relative;top:45px;background:#00C7B1;" class="research-information">
		<section>
		<h1>COMMUNABILITY WEBSITE PRIVACY POLICY</h1>
	
		</section>
	</article>
	<div class="clr"></div>
	<article  class="last-updated" >
		<section>
			<h2>Last updated: February 17, 2017</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sodales leo, finibus laoreet enim. Morbi vel augue tempor, hendrerit nulla consectetur, porttitor turpis. Aenean pulvinar, ex sit amet malesuada tincidunt, dolor massa lobortis arcu, sed mollis elit neque vel tortor. Vestibulum in est et turpis bibendum pretium.</p>
			<p>Mauris sit amet sollicitudin orci. Phasellus sagittis scelerisque orci, sed convallis velit ornare et. Suspendisse a erat elit. Mauris lectus ligula, tincidunt quis enim sodales, laoreet eleifend enim. Fusce hendrerit nulla purus, porta semper quam eleifend et.</p>
			<h3>DEFINITIONS</h3>
			<p>“Proin id” congue enim. Phasellus eget tincidunt nisl, et volutpat est. Ut at turpis vel ante dapibus ultricies. Phasellus sem lectus, faucibus non massa non, varius commodo mauris. Suspendisse porttitor laoreet imperdiet. Integer elementum nibh vel ligula facilisis, at volutpat risus tempor. Suspendisse feugiat erat nec venenatis consequat. Phasellus nec mauris finibus, tempus turpis vel, luctus tellus.</p>
			<p>“Nunc laoreet” nibh eu orci cursus, venenatis gravida arcu vulputate. Nunc vel turpis augue. Duis dui augue, semper sed sagittis eget, varius nec odio. Morbi justo neque, ultrices sit amet mattis ut, tempus sit amet magna. Fusce eget magna at neque iaculis congue.</p>
			<h3>YOUR PRIVACY</h3>
			<p>“Duis ac vestibulum” tellus, eu fermentum nisl. Nulla mollis venenatis pretium. Sed bibendum dolor velit, ut euismod nisl congue sed. In a dolor ac neque sollicitudin aliquam. Praesent et nibh in metus posuere venenatis sed vel arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus et erat commodo tempor.</p>
			<h3>INFORMATION WE COLLECT</h3>
			<p>“Vivamus tellus mi” maximus nec auctor eu, pharetra quis orci. Sed varius, ligula ac euismod tempor, odio mauris eleifend diam, ultricies porta velit dolor non turpis. Morbi sit amet neque nec sem eleifend consequat. Phasellus dolor quam, dapibus ac dignissim et, porta nec diam.</p>
			
			<h3>COMPUTER INFORMATION COLLECTED</h3>
			<p>Pellentesque nec porta libero. Aenean elementum elementum libero id maximus. Curabitur ac lacinia sem. Maecenas nec vulputate mi. Nam molestie magna eget mauris hendrerit, vitae pharetra enim bibendum. Aliquam ut dolor est. Praesent ut placerat lacus. Duis ullamcorper tellus vel finibus hendrerit.</p>
			<ul>
			<li><strong>Automatic Information</strong><br> Proin consequat tellus mollis libero scelerisque, laoreet suscipit eros auctor. Integer suscipit ac ligula sodales ullamcorper. Vivamus vitae auctor felis, at efficitur urna. Donec malesuada risus in tempus pulvinar. Nunc rhoncus justo sed sem mattis, ac sodales quam luctus. Etiam efficitur lorem ac eros tincidunt posuere. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
			<li><strong>Cookies</strong><br> Sed ornare turpis id libero rutrum, a varius quam vulputate. Aliquam feugiat tristique neque eget mollis. In pharetra, ante volutpat lacinia scelerisque, ipsum tortor sollicitudin metus, in venenatis ipsum mauris eu ipsum. Nunc ut sapien at tortor venenatis fermentum. In hendrerit accumsan suscipit. Suspendisse ut facilisis turpis.</li>
			<li><strong>Third Party Tracking Tools</strong><br>Sed nec mauris et eros viverra feugiat. Etiam ornare blandit leo id accumsan. Nam vitae gravida augue, nec lobortis neque. Sed molestie nibh eget porta hendrerit. Phasellus at arcu non tortor sagittis efficitur. Ut vel quam quis urna interdum finibus ut ut erat. Integer neque mi, rutrum ut neque non, euismod placerat erat. Nullam ac iaculis leo, ultricies congue augue. Donec dapibus maximus luctus.</li>
			</ul>
			<h3>PERSONALLY IDENTIFIABLE INFORMATION</h3>
			<p>Proin consequat tellus mollis libero scelerisque, laoreet suscipit eros auctor. Integer suscipit ac ligula sodales ullamcorper. Vivamus vitae auctor felis, at efficitur urna. Donec malesuada risus in tempus pulvinar. Nunc rhoncus justo sed sem mattis, ac sodales quam luctus. Etiam efficitur lorem ac eros tincidunt posuere. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			<p>Vestibulum sollicitudin magna non tristique volutpat. Donec tincidunt imperdiet condimentum. Mauris dictum tincidunt ipsum convallis rhoncus. Duis dapibus, diam non convallis aliquam, nulla risus suscipit urna, vel vestibulum metus nisi et est. Sed justo orci, rutrum sit amet metus ac, convallis tempor erat. Nullam varius eu tellus id fringilla.</p>

			<h3>HOW WE USE YOUR INFORMATION</h3>
			<p>Mauris dictum mi non dolor auctor, vel molestie lectus dapibus. Praesent efficitur nulla a nibh rhoncus mollis non eu elit. Mauris quis pulvinar sapien, a finibus ante. Nunc sit amet turpis eu purus dignissim auctor. Nunc dictum nulla in lorem tempus ultricies. Aliquam erat volutpat. Donec dictum orci nec orci sagittis efficitur.</p>
			<ol>
			<li><strong>Customizing the Website</strong><br> Proin consequat tellus mollis libero scelerisque, laoreet suscipit eros auctor. Integer suscipit ac ligula sodales ullamcorper. Vivamus vitae auctor felis, at efficitur urna. Donec malesuada risus in tempus pulvinar. Nunc rhoncus justo sed sem mattis, ac sodales quam luctus. Etiam efficitur lorem ac eros tincidunt posuere. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
			<li><strong>Data Aggregation</strong><br> Sed ornare turpis id libero rutrum, a varius quam vulputate. Aliquam feugiat tristique neque eget mollis. In pharetra, ante volutpat lacinia scelerisque, ipsum tortor sollicitudin metus, in venenatis ipsum mauris eu ipsum. Nunc ut sapien at tortor venenatis fermentum. In hendrerit accumsan suscipit. Suspendisse ut facilisis turpis.</li>
			<li><strong>Data Aggregation</strong><br> Sed ornare turpis id libero rutrum, a varius quam vulputate. Aliquam feugiat tristique neque eget mollis. In pharetra, ante volutpat lacinia scelerisque, ipsum tortor sollicitudin metus, in venenatis ipsum mauris eu ipsum. Nunc ut sapien at tortor venenatis fermentum. In hendrerit accumsan suscipit. Suspendisse ut facilisis turpis.</li>
			<li><strong>Data Aggregation</strong><br> Sed ornare turpis id libero rutrum, a varius quam vulputate. Aliquam feugiat tristique neque eget mollis. In pharetra, ante volutpat lacinia scelerisque, ipsum tortor sollicitudin metus, in venenatis ipsum mauris eu ipsum. Nunc ut sapien at tortor venenatis fermentum. In hendrerit accumsan suscipit. Suspendisse ut facilisis turpis.</li>
			<li><strong>Communicating with you</strong><br>Sed nec mauris et eros viverra feugiat. Etiam ornare blandit leo id accumsan. Nam vitae gravida augue, nec lobortis neque. Sed molestie nibh eget porta hendrerit. Phasellus at arcu non tortor sagittis efficitur. Ut vel quam quis urna interdum finibus ut ut erat. Integer neque mi, rutrum ut neque non, euismod placerat erat. Nullam ac iaculis leo, ultricies congue augue. Donec dapibus maximus luctus.</li>
			<li><strong>Legally Required Releases of Information</strong><br>Sed nec mauris et eros viverra feugiat. Etiam ornare blandit leo id accumsan. Nam vitae gravida augue, nec lobortis neque. Sed molestie nibh eget porta hendrerit. Phasellus at arcu non tortor sagittis efficitur. Ut vel quam quis urna interdum finibus ut ut erat. Integer neque mi, rutrum ut neque non, euismod placerat erat. Nullam ac iaculis leo, ultricies congue augue. Donec dapibus maximus luctus.</li>
			<li><strong>Sharing Information with Affiliates and Other Third Parties</strong><br>Sed nec mauris et eros viverra feugiat. Etiam ornare blandit leo id accumsan. Nam vitae gravida augue, nec lobortis neque. Sed molestie nibh eget porta hendrerit. Phasellus at arcu non tortor sagittis efficitur. Ut vel quam quis urna interdum finibus ut ut erat. Integer neque mi, rutrum ut neque non, euismod placerat erat. Nullam ac iaculis leo, ultricies congue augue. Donec dapibus maximus luctus.</li>
			</ol>
			<h3>SECURITY</h3></h3><p>
			Sed a hendrerit magna, tincidunt convallis purus. Mauris vitae gravida dui. Praesent at neque quis eros laoreet finibus vel at sapien. Fusce porta orci vitae massa tristique, quis pharetra justo cursus. Aenean orci justo, commodo vitae euismod vitae, elementum eget lectus. Cras a dapibus justo. Vivamus varius, velit eu imperdiet congue, urna purus tempus quam, at maximus dolor velit sit amet dui. In aliquam a mi quis fringilla. Aliquam ultrices sed nibh non suscipit. Proin mauris leo, euismod a lorem quis, luctus tincidunt orci. Vestibulum efficitur ac neque quis efficitur.
			</p><h3>LINKS TO OTHER SITES</h3></h3><p>
			Vivamus a placerat odio, in volutpat leo. Donec eu ultricies sem, quis cursus arcu. Morbi dignissim lacinia dui sed dapibus. Maecenas ullamcorper dui vitae malesuada hendrerit. Maecenas laoreet commodo ligula, bibendum scelerisque quam tincidunt non. Mauris sapien velit, auctor viverra velit feugiat, rhoncus posuere turpis. Donec et metus ac sapien convallis vehicula aliquam eu enim.
			</p><h3>CHILDREN'S PRIVACY</h3><p>
			Vivamus a placerat odio, in volutpat leo. Donec eu ultricies sem, quis cursus arcu. Morbi dignissim lacinia dui sed dapibus. Maecenas ullamcorper dui vitae malesuada hendrerit. Maecenas laoreet commodo ligula, bibendum scelerisque quam tincidunt non. Mauris sapien velit, auctor viverra velit feugiat, rhoncus posuere turpis. Donec et metus ac sapien convallis vehicula aliquam eu enim.
			</p><h3>OUR EMAIL POLICY</h3><p>
			Vivamus a placerat odio, in volutpat leo. Donec eu ultricies sem, quis cursus arcu. Morbi dignissim lacinia dui sed dapibus. Maecenas ullamcorper dui vitae malesuada hendrerit. Maecenas laoreet commodo ligula, bibendum scelerisque quam tincidunt non. Mauris sapien velit, auctor viverra velit feugiat, rhoncus posuere turpis. Donec et metus ac sapien convallis vehicula aliquam eu enim.
			</p><h3>CHANGES TO THIS PRIVACY POLICY</h3><p>
			Vivamus a placerat odio, in volutpat leo. Donec eu ultricies sem, quis cursus arcu. Morbi dignissim lacinia dui sed dapibus. Maecenas ullamcorper dui vitae malesuada hendrerit. Maecenas laoreet commodo ligula, bibendum scelerisque quam tincidunt non. Mauris sapien velit, auctor viverra velit feugiat, rhoncus posuere turpis. Donec et metus ac sapien convallis vehicula aliquam eu enim.
			</p><h3>CONTACT US</h3><p>
			Vivamus a placerat odio, in volutpat leo. Donec eu ultricies sem, quis cursus arcu. Morbi dignissim lacinia dui sed dapibus. Maecenas ullamcorper dui vitae malesuada hendrerit. Maecenas laoreet commodo ligula, bibendum scelerisque quam tincidunt non. Mauris sapien velit, auctor viverra velit feugiat, rhoncus posuere turpis. Donec et metus ac sapien convallis vehicula aliquam eu enim.
			</p>
		</section>
	</article>
	<div class="clr"></div>
	
	<footer>
		<article>
			<section class="footer-list">
				<ul class="list1">
				<li></li>
				<li><strong>ABOUT US</strong></li>
				<li><a href="About.html">About CommunAbility</a></li>
				<li><a href="ContactUs.html">Contact Us</a></li>
				<li><a href="Faqs.html">FAQs</a></li>
				<li><a href="ResearchInformation.html">Research Information</a></li>
				<li><a href="TermsAndConditions.html">Terms and Conditions</a></li>
				<li><a href="PrivacyPolicy.html">Privacy Policy</a></li>
				</ul>
			</section>
			<section class="footer-list">
				<ul class="list2">
				<li>  </li>
				<li><strong>MENTORSHIP</strong></li>
				<li><a href="Mentorship.html">About the Program</a></li>
				<li><a href="BecomeMentor.html">Become a Mentor</a></li>
				<li><a href="GetMentor.html">Find a Mentor</a></li>
				<li><a href="UserAgreement.html">Program User Agreement</a></li>
				</ul>
			</section>
			<section class="footer-list">
				<ul class="list3">
				<li></li>
				<li><strong>EDUCATION</strong></li>
				<li><a href="Index.html">Podcasts and Webinars</a></li>
				<li><a href="LearningModules.html">Learning Modules</a></li>
				<li><a href="ResourceLibrary.html">Resource Library</a></li>
				</ul>
			</section>
			<section class="footer-list">
				<ul class="list4">
				<li></li>
				<li><strong>COMMUNITY</strong></li>
				<li><a href="Forums.html">Forums</a></li>
				<li><a href="DigitalNaratives.html">Digital Naratives</a></li>
				<li><a href="InspirationalProfiles.html">Inspirational Profiles</a></li>
				</ul>
			</section>
		</article>
		<div class="clr"></div>
		<section class="footer-bottom">
		<i class="fa fa-facebook"></i>
		<i class="fa fa-youtube"></i>
		<i class="fa fa-instagram"></i>
		</section>
	</footer>
	<div class="clr"></div>
	<div class= "circle"><a href="#">i</a></div>
</body>
</html>